<div class="container">
  <div class="box1 row">
    <div class="col-xs-12 mx-auto text-center">
      <h4>
        退会するを選択すると退会することができます。<br>
        退会しますか？<br>
      </h4>
      <tr>
        <td>
          <%= link_to '退会しない', items_path, class: 'btn btn-primary mt-4 mr-5' %>
        </td>
        <td>
          <%= link_to '退会する', users_withdraw_path, method: :patch, data: { confirm: '本当に消しますか？' }, class: 'btn btn-danger mt-4' %>
        </td>
      </tr>
    </div>
  </div>
</div>
