<div class="container">
  <div class="box1 row">
    <div class="col-xs-12 mx-auto text-center">
      <h2 class="">Maneclo(マネクロ)とは</h2>
      <h4 class="mt-4">
        自分が所有している服を管理したい時や、外出中に家にある服を確認したい時に使うサイトです。
        自分が登録した服を一覧表示で見ることができ、ソートや検索で見たい服を探すことができます。
        カテゴリーでグラフが生成され、カテゴリー別の着数と価格の二つのグラフが表示されます。
      </h4>
    </div>
  </div>
</div>
