<div class="container">
  <div class="row">
    <div class="box1">
      <div class="col-xs-12 col-md-12 mx-auto">
        <h2 class="text-center">Maneclo(マネクロ)とは</h2>
        <h4 class="mt-4">
          自分が所有している服を管理したい時や、外出中に家にある服を確認したい時に使うサイトです。
          自分が登録した服を一覧表示で見ることができ、ソートや検索で見たい服を探すことができます。
          カテゴリーでグラフが生成され、カテゴリー別の着数と価格の二つのグラフが表示されます。
        </h4>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="box1 col-xs-12 col-md-12">
      <!--<div class="mx-auto">-->
        <h2 class="text-center">服をサイトに登録</h2>
        <h4 class="mt-4 text-center">
          服を登録すると、自分が登録した服を一覧表示で見ることができます。
        </h4>
      <div class="row">
        <div class="about-image-group col-xs-12 col-sm-5 col-md-5">
          <%= image_tag 'about-image1.png', class: 'img-fluid' %>
        </div>
        <div class="col-sm-2 col-md-2"></div>
        <div class="about-image-group col-xs-12 col-sm-5 col-md-5">
          <%= image_tag 'about-image2.png', class: 'img-fluid' %>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class=" box1 col-xs-12 col-md-12 mx-auto">
      <h2 class="text-center">グラフ</h2>
      <h4 class="text-center mt-4">自分が登録した服のカテゴリー別着数と価格の二つのグラフが表示されます。</h4>
    </div>
  </div>
</div>
