<div class="container">
  <div class="box1 row">
    <div class="col-xs-12 mx-auto text-center">
      <h2>お問い合わせ</h2>
      <h4 class="mt-4">
        サイトの感想、気になった点、不具合、こんな機能があったらいいな等<br>
        何かございましたらお気軽にご連絡ください。<br>
      </h4>
      <h4 class="mt-4">
        Mail<br>
        @gmail.com<br>
      </h4>
    </div>
  </div>
</div>
