<div class="container-fluid text-center text-white">
  <div class="top_image">
    <h1>Maneclo</h1>
    <h1>
      <%= link_to new_user_registration_path do %>
        <button class="btn btn-outline-light mx-3" >Sign up</button>
      <% end %>
      <%= link_to new_user_session_path do %>
        <button class="btn btn-outline-light mx-3" >Login</button>
      <% end %>
    </h1>
  </div>
</div>