<% @items.each do |item| %>
  <div>
    <%= attachment_image_tag @item, :item_image_id %>
    <p>ブランド名:<%= item.brand.brand_name %></p>
    <p>カテゴリー名:<%= item.category.category_name %></p>
    <p>¥<%= item.price %></p>
  </div>
<% end %>
