<%= render 'brand', brand: @brand %>

<div class="container">
  <div class="row">
    <td><%= link_to 'Destroy', brand_path(@brand), method: :delete, data: { confirm: 'ブランドの服も全て消えますが、本当に消しますか？' }, class: "btn btn-sm btn-danger" %></td>
  </div>
</div>
