<footer>
  <div class='container mt-3'>
    <div class='row'>
      <div class='mx-auto'>
        <p>CopyRight ponxpon</p>
      </div>
      <div class="text-right">
        <% if user_signed_in? %>
          <%= link_to '退会', users_unsubscribe_path, class: 'text-dark' %>
        <% end %>
      </div>
    </div>
  </div>
</footer>