<footer>
  <nav class="navbar navbar-dark bg-dark">
    <div class='container'>
      <div class='row'>
        <ul class="navbar-nav">
          <li class="mx-auto">ponxpon</li>
          <% if user_signed_in? %>
            <li><%= link_to '退会する', users_unsubscribe_path%></li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
</footer>